{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<section class="py-5">

<div class="container">

<h1 class="text-center fw-bold mb-5">
📞 Contact Us
</h1>

<div class="row">

<div class="col-lg-6">

<div class="card shadow">

<div class="card-body">

<h3>Get In Touch</h3>

<p class="mt-4">

📍 Address

<br>

Erode, Tamil Nadu, India

</p>

<p>

📞 Phone

<br>

+91 9876543210

</p>

<p>

📧 Email

<br>

smartparking@gmail.com

</p>

<p>

🕒 Working Hours

<br>

Monday - Sunday

24 x 7

</p>

</div>

</div>

</div>

<div class="col-lg-6">

<div class="card shadow">

<div class="card-body">

<h3>Send Message</h3>

<form>

<div class="mb-3">

<input
type="text"
class="form-control"
placeholder="Your Name">

</div>

<div class="mb-3">

<input
type="email"
class="form-control"
placeholder="Email">

</div>

<div class="mb-3">

<textarea
class="form-control"
rows="5"
placeholder="Message"></textarea>

</div>

<button
class="btn btn-warning w-100">

Send Message

</button>

</form>

</div>

</div>

</div>

</div>

</div>

</section>

{% endblock %}